.specialCare{
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

li{
    color:#1E90FF;
    font-weight: 600;
    font-size:1rem;
    list-style:none;
}

.care-headline{
    font-weight: 600;
    color:#4B0082;
    margin-left:15px;
    font-size: 2rem;
}